/* Main Page CSS File */
html{
	font-size: 16px;
}
body {
	position: relative;
	margin: 0;
	text-align: center;
	color: white;
	font-family: Verdana, sans-serif;
	background-color: black;
}

p {
	font-size: 300%;
}

h1 {
	font-size: 300%;
	text-decoration: none;
}

#appbox {
	display: inline-block;
	padding: 100px;
	background-color: black;
	max-width: 80%;
}

#optionz {
	position: fixed;
	right: 3px;
	top: 3px;
}

.app {
	width: 128px;
	height: 128px;
	padding: 10px;
	background-color: inherit;
	display: inline-block;
}
a img {
	width: 128px;
	vertical-align: bottom;
	display: block;
	border-radius: 20px;
}
a img:hover {
	box-shadow: 0px 0px 24px #FFFFFF;
}
@media only screen and (max-width:500px) {
	.header {
		font-size: 250%; 
	}
}
/*middle a:nth-child(2n) {
	background-color: #DEDEDE;
}

middle a:nth-child(2n+1) {
	background-color: #EEEEEE;
}*/


a {
	text-decoration: none;
	display: block;
	padding: 0px;
	margin: 0px;
}